# Configurações do Banco de Dados
DATABASE_URL=postgresql://admin:password@localhost:5432/escola

# Configurações de Segurança
SECRET_KEY=sua_chave_secreta_muito_segura_aqui
ALGORITHM=HS256

# Configurações da Aplicação
DEBUG=True
ENVIRONMENT=development

# Configurações do Docker Hub (para CI/CD)
DOCKERHUB_USERNAME=seu_usuario_dockerhub
DOCKERHUB_TOKEN=seu_token_dockerhub
